<!DOCTYPE html>
<html>
<head>
  <title>My Page</title>
</head>
<body>
<div class="wrapper" style="display: flex; flex-direction: column">
  <h1>DONT WORRY 카카오 로그인 테스트</h1>
  <a href="https://kauth.kakao.com/oauth/authorize?client_id=77570be15ef8457bbb27ffc965017a74&redirect_uri=http://localhost:8080/callback&response_type=code">
    <img src="https://developers.kakao.com/docs/static/image/ko/pc/kakaologin.png" alt="kakoLogin" style="cursor: pointer; width: 400px; height: 200px;">
  </a>

</div>
</body>
</html>
